doctype html
html
  head
    title Booking.com Rooms Table Challenge
    link(rel='stylesheet' href='css/main.css')
  body
    .rooms-table

    script(src='../components/react/react.min.js')
    script(src='../components/react/JSXTransformer.js')
    script(type='text/jsx' src='js/main.jsx')
