doctype html
html
  head
    title Booking.com Rooms Table Challenge
    link(rel='stylesheet' href='css/main.css')

    script(src='../components/platform/platform.js')
    link(rel='import' href='../components/polymer/polymer.html')
    link(rel='import' href='../components/paper-input/paper-input.html')
    link(rel='import' href='../components/paper-button/paper-button.html')
    link(rel='import' href='../components/paper-slider/paper-slider.html')
    link(rel='import' href='../components/paper-tabs/paper-tabs.html')
    link(rel='import' href='../components/core-header-panel/core-header-panel.html')
    link(rel='import' href='../components/core-toolbar/core-toolbar.html')

  body(unresolved fullbleed layout vertical)
    .container
      core-header-panel(flex)
        core-toolbar
          input.date-input(placeholder='Checkin' type='date')
          | to
          input.date-input(placeholder='Checkin' type='date')
          paper-button(label='More filters')

        .content
          .room
            h2.room__title Executive Queen Room with access to Executive Lounge

            .room__pic(data-price='US$ 50')
              img(src='images/room.jpg')

            .room__filter
              | US$ 50.00
              paper-slider(min='50' max'250' pin='true')
              | US$ 250.00

            paper-tabs.blue(selected='0' role='tablist')
              paper-tab 1
              paper-tab 2
              paper-tab 3
              paper-tab.plus-tab +

            .room__details
              .room__book
                paper-input.room__count-input(floatinglabel='' label='ROOMS' type='number' error='Input is not a number!')
                paper-button.room__book-button(label='Book it!')
                .room__notice With free cancelation on most rooms

              .room__facilities
                .room__facility(icon='images/wifi.png') Free Wifi
                .room__facility(icon='images/wifi.png') Free Wifi
                .room__facility(icon='images/wifi.png') Free Wifi
                .room__facility(icon='images/wifi.png') Free Wifi
                .room__facility(icon='images/wifi.png') Free Wifi
              .room__optionals
                h3.room__optionals-title

    script(src='../components/react/react.js')
    script(src='../components/react/JSXTransformer.js')
    script(type='text/jsx' src='js/components/room.jsx')
    script(type='text/jsx' src='js/components/rooms_list.jsx')
    script(type='text/jsx' src='js/components/rooms_filter.jsx')
    script(type='text/jsx' src='js/components/rooms_table.jsx')
    script(type='text/jsx' src='js/main.jsx')
