doctype html
html
  head
    title Booking.com Rooms Table Challenge
    link(rel='stylesheet' href='css/main.css')
  body
    .rooms-table

    script(src='../components/react/react.js')
    script(src='../components/react/JSXTransformer.js')
    script(type='text/jsx' src='js/components/room.jsx')
    script(type='text/jsx' src='js/components/rooms_list.jsx')
    script(type='text/jsx' src='js/components/rooms_filter.jsx')
    script(type='text/jsx' src='js/components/rooms_table.jsx')
    script(type='text/jsx' src='js/main.jsx')
